{% extends 'layout.html' %} {% block content %}
<h2 class="text-2xl">Fruits</h2>
<h3 class="text-xl">Existing fruits</h3>

<div id="fruits" class="flex flex-col gap-1">
  {% for fruit in fruits %} {% include 'partials/fruit.html' %} {% endfor %}
</div>

<h3 class="text-2xl">New fruit</h3>
<form
  hx-post="/fruits"
  hx-target="#fruits"
  hx-swap="beforeend"
  class="flex flex-col gap-1"
>
  <div>
    <label for="name">Name</label>
    <input
      type="text"
      name="name"
      id="name"
      class="border rounded px-1 py-px"
    />
  </div>
  <div>
    <label for="name">Description</label>
    <input
      type="text"
      name="description"
      id="description"
      class="border rounded px-1 py-px"
    />
  </div>
  <div>
    <button type="submit" class="border rounded px-1 py-px">Submit</button>
  </div>
</form>
{% endblock %}
