<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTMX + FastAPI</title>
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
      integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>Fruits</h1>
    <p>
      <a href="/fruits/new">Add a fruit</a>
    </p>
    <ul>
      <!-- PROBLEM: not the same as fruit.html -->
      {% for fruit in fruits %}
      <li>{{ fruit.name }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
