<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTMX + FastAPI</title>
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
      integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="static/output.css" />
  </head>
  <body>
    <h1 class="text-3xl">HTMX + FastAPI</h1>
    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
